body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  cursor: pointer;
}

.delete-icon {
  color: black; /* Default color */
  transition: color 0.3s ease-in-out;
}

.delete-icon:hover {
  color: red; /* Change to red on hover */
}

.edit-icon {
  color: black; /* Default color */
  transition: color 0.3s ease-in-out;
}

.edit-icon:hover {
  color: blue; /* Change to blue on hover */
}